name: Generate JSDoc Documentation

on:
  push:
    branches: [main]
    paths:
      - "src/index.ts"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Checkout documentation code
        uses: actions/checkout@v3
        with:
          repository: strutils/strutils.github.io
          path: docs
          token: ${{ secrets.PUSH_TOKEN }}

      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 19.3.0
          cache: "npm"

      - run: npm ci
      - run: npm run generate-docs

      - name: Push to strutils/strutils.github.io
        run: |
          cp -RT out/ docs/
          cd documentation
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add -A
          git commit -m "Pushed new documentation!"
          git push https://$USERNAME:$REPO_KEY@github.com/strutils/strutils.github.io.git
        env:
          REPO_KEY: ${{secrets.PUSH_TOKEN}}
          USERNAME: github-actions[bot]
