name: Generate JSDoc Documentation

on:
  push:
    branches: [main]
    paths:
      - "src/index.ts"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 19.3.0
          cache: "npm"

      - run: npm ci
      - run: npm run generate-docs

      - name: Push to strutils/strutils.github.io
        uses: GuillaumeFalourd/git-commit-push@v1.3
        with:
          commit_message: Pushed new documentation!
          target_branch: main
          files: out/
          remote_repository: https://github.com/strutils/strutils.github.io
          access_token: ${{ github.token }}
